<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357985781400-9piir57512osu4iep9p114bvu3g9eo8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357985781400-9piir57512osu4iep9p114bvu3g9eo8u</string>
	<key>API_KEY</key>
	<string>AIzaSyCvVRKnQ8sYlyZT1iM0g945ouA8swVmLrU</string>
	<key>GCM_SENDER_ID</key>
	<string>357985781400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tedtya.Note-WithUIKit</string>
	<key>PROJECT_ID</key>
	<string>notetakingapp-56b20</string>
	<key>STORAGE_BUCKET</key>
	<string>notetakingapp-56b20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357985781400:ios:cf1b32e1d12c69f62db2ed</string>
</dict>
</plist>